NODE_ENV="development"
NODE_PORT="8000"

SARDINE_PRIVATE="ADD_YOUR_PRIVATE_KEY"
SARDINE_PUBLIC="ADD_YOUR_PUBLIC_KEY"
ROOT_RPC="https://eth-goerli.g.alchemy.com/v2/uev3mQapy5EspDkBvtTRUOrDWO-775nc"
MATIC_RPC="https://polygon-mumbai.g.alchemy.com/v2/rCuto8D6REmX-26PtIbvt6WMlLNv0y0c"

FIREBLOCKS_API_SECRET_PATH=""
FIREBLOCKS_API_KEY=""
FIREBLOCKS_SOURCE_VAULT_ACCOUNT=""
FIREBLOCKS_API_BASE_URL=""
VAULT_ACCOUNT_ID=""

# One of mainnet or goerli
ETH_CHAIN="goerli"

# One of polygon or polygon_test
POLYGON_CHAIN="polygon_test"

# One of mainnet-beta or devnet
SOLANA_CHAIN="devnet"

OPEN_SEA_API_KEY=""

CRYPTO_BACKEND_URL="https://webhook.site/8f68ffa3-82ce-4e9c-8123-4e3b4c528d49" # Go to https://webhook.site/ for testing

ZERO_X_API_KEY=""

STABLE_COIN="UNI"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:password@localhost:5432/mydb?schema=public" # Update Me :)
